GESTINEMAPPFULL_APP_NAME=GestinemAppFull API
GESTINEMAPPFULL_APP_VERSION=0.1.0
GESTINEMAPPFULL_ENVIRONMENT=development
GESTINEMAPPFULL_DEBUG=true
GESTINEMAPPFULL_POSTGRES_SERVER=localhost
GESTINEMAPPFULL_POSTGRES_PORT=5432
GESTINEMAPPFULL_POSTGRES_USER=gestinem
GESTINEMAPPFULL_POSTGRES_PASSWORD=gestinem
GESTINEMAPPFULL_POSTGRES_DB=gestinemappfull
GESTINEMAPPFULL_DOCUMENT_STORAGE_ROOT=storage
GESTINEMAPPFULL_SECRET_KEY=change-this-in-production
GESTINEMAPPFULL_JWT_ALGORITHM=HS256
