# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Mac / Windows system files
.DS_Store
Thumbs.db

# VSCode / IDE configs
.vscode/
.idea/

# PyInstaller
*.spec

# Local config
config.json

# Logs and temp
*.log
*.tmp

# Excel and generated DAT files
*.xls
*.xlsx
*.xlsm
*.dat

# Backup files
*~
*.bak
